<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    <main id="content">
      {{ range (.Paginator 10).Pages }}
      <article>
        <h2>
          <a href="{{.Permalink}}">
            {{.Title}}
          </a>
        </h2>
        {{ .Summary }}
      </article>
      {{ end }}
    </main>

    <!-- ページめくりリンクの追加 -->
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <div>
      <nav role="pagination">
        {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}">前へ</a>
        {{ end }}
        <span class=""
          >Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span
        >
        {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}">次へ</a>
        {{ end }}
      </nav>
    </div>
    {{ end }}

    {{- partial "footer.html" . -}}
  </body>
</html>
